:root {
    --global-font-family: 'Amatic SC', cursive;
    --light-blue-color: #03a9f487;
    --dark-blue-color: #03a9f4;
    --dark-green-color: #8bc34a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/kozaky.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: var(--global-font-family);
}

.cartoon-view-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartoon-view-section__header {
    position: fixed;
    font-size: 3rem;
    background-color: var(--light-blue-color);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: auto 3rem;
    
}

#search-cartoons {
    margin: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    border: none;
    font-size: 1.3rem;
    width: 15rem;
    font-family: var(--global-font-family);
}

#search-cartoons::placeholder {
    font-family: var(--global-font-family);
}

.cartoon-view-section__cartoon-items {
    margin-top: 5.65rem;
    box-shadow: 0px -5px 20px 10px #005074;
    width: 60%;
    background-color: var(--light-blue-color);
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
}

.cartoon-view-section__cartoon-items iframe {
    width: auto;
    height: 400px;
}

iframe {
    padding: 0.5rem 1rem;
}

.right-cartoon-section {
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    color: azure;
    background-color: var(--light-blue-color);
    height: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

@media (max-width: 576px) {
    .cartoon-view-section__cartoon-items {
        margin-top: 10.65rem;
        width: 100%;
    }
}

@media (max-width: 690px) {
    .cartoon-view-section__cartoon-items {
        width: 100%;
    }
}

@media (max-width: 778px) {
    .cartoon-view-section__cartoon-items {
        width: 100%;
    }
}


@media (max-width: 1100px) {
    .cartoon-view-section__cartoon-items {
        width: 70%;
    }
}
